@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewData["Title"] = "Заметки";
}

@*<div class="notes-container">
    @foreach (var note in Model)
    {
        <article>
            @Html.RenderPartialAsync("~/Views/Notes/Note.cshtml");
        </article>
    }
</div>*@