@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>Главная</title>
    <link rel="stylesheet" href="~/css/Styles.css"/>
</head>
<body>
<header class="header">
    <div class="header-title">NotesStore</div>
    <nav class="header-menu">
        <ul class="header-menu-list">
            <li class="header-menu-item">Создать заметку</li>
            <li class="header-menu-item"><a asp-controller="Account" asp-action="Logout">Выйти</a></li>
        </ul>
    </nav>
</header>
</body>
</html>