@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Notes.Domain.Entities
@model IEnumerable<Note>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Найдено";
}

@section Styles{
    <link href="~/css/NoteStyles.css" rel="stylesheet"/>
}

<div class="notes-container">
    <h2 class="finded-title">Найдено:</h2>
    @foreach (var note in Model)
    {
        @await Html.PartialAsync("~/Views/Notes/Note.cshtml", note)
    }
</div>