@using Notes.ViewModels
<div class="note-wrap">
    <div class="note-card">
        оба
        @*<div class="note-card-front">
            <div class="note-card-front-img">
                <img/>
            </div>
            <div class="note-card-front-title">
            </div>
        </div>*@
    </div>
</div>