.users-container {
    display: flex;
    background-color: aliceblue;
    padding: 30px;
    min-width: 300px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

hr {
    border: none;
    color: grey;
    height: 2px;
    background-color: grey;
    width: 100%;
}

.user {
    display: inline-flex;
    margin: 25px;
    width: 100%;
}

.user-name {
    width: 30%;
    overflow-wrap: break-word;
}

.user-role {
    width: 60%;
    margin-left: 10px;
}

.notes-amount {
    display: flex;
    width: 20%;
    justify-content: flex-end;
}