@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Notes.Domain.Models
@model IEnumerable<UserViewModel>

<!DOCTYPE html>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Пользователи";
}

@section Styles{
    <link href="~/css/UsersStyles.css" rel="stylesheet"/>
}

<div class="users-container">
    <div class="user">
        <div class="user-name">Пользователь</div>
        <div class="notes-amount">Заметок</div>
    </div>
    <hr/>
    @foreach (var user in Model)
    {
        <div class="user">
            <div class="user-name">@user.UserName</div>
            <div class="notes-amount">@user.NotesAmount</div>
        </div>
    }
    <form method="post" asp-action="SaveUsersToXlsx">
        <input type="text" id="fileName" name="fileName" placeholder="Введите имя файла"/>
        <input type="submit" value="Сохранить в файл .xlsx"/>
    </form>
</div>