@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Notes.Domain.Models
@model LoginViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Вход";
}

@section Styles{
    <link href="~/css/FormStyles.css" rel="stylesheet"/>
}

<form class="form" method="post">

    <div asp-validation-summary="ModelOnly"></div>

    <div class="form-item-container">
        <div class="form-label">Введите email</div>
        <input class="form-input" type="text" name="Email"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-item-container">
        <div class="form-label">Введите Пароль</div>
        <input class="form-input" type="password" name="Password"/>
        <span asp-validation-for="Password"></span>
    </div>

    <div class="form-item-container">
        <label asp-for="RememberMe">Запомнить меня</label>
        <input type="checkbox" name="RememberMe" value="true" checked/>
    </div>
    <div class="form-item-container">
        <input class="form-input" type="submit" value="Войти"/>
    </div>
    <div class="form-item-container">
        <a asp-action="Register">Зарегистрироваться</a>
    </div>
</form>