@using Notes.ViewModels
@model RegisterViewModel
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>Регистрация</title>
</head>
<body>
<div>
    <h2>@ViewBag.Message</h2>
    <form method="post" asp-controller="Account" asp-action="Register">

        <div asp-validation-summary="ValidationSummary.ModelOnly"></div>

        <div>
            <label asp-for="UserName">Введите имя(На английском)</label><br/>
            <input type="text" name="UserName"/>
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <label asp-for="Email">Введите email</label><br/>
            <input type="email" name="Email"/>
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="Password">Введите пароль</label><br/>
            <input type="password" name="Password"/>
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="PasswordConfirm">Подтвердите пароль</label><br/>
            <input type="password" name="PasswordConfirm"/>
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <div>
            <input type="submit" value="Регистрация"/>
        </div>
    </form>
</div>
</body>
</html>