@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Notes.ViewModels
@model RegisterViewModel
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>Регистрация</title>
    <link rel="stylesheet" href="~/css/FormStyles.css"/>
</head>
<body>
<div>
    <div class="authorization-container">
        <form class="authorization-form" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <div class="authorization-form-label">Введите Логин</div>
                <input class="authorization-form-input" type="text" name="UserName"/>
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <div class="authorization-form-label">Введите email</div>
                <input class="authorization-form-input" type="email" name="Email"/>
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <div class="authorization-form-label">Введите Пароль</div>
                <input class="authorization-form-input" type="password" name="Password"/>
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <div class="authorization-form-label">Повторите Пароль</div>
                <input class="authorization-form-input" type="password" name="PasswordConfirm"/>
                <span asp-validation-for="PasswordConfirm"></span>
            </div>

            <div>
                <input class="authorization-form-input" type="submit" value="Зарегистрироваться"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>