@page
@using Notes.Pages.Models
@model LoginModel
@{
    ViewData["Title"] = "Регистрация";
}
<!DOCTYPE html>

<html>
<head>
</head>
<body>
<div>
    <h2>@Model.Message</h2>
    <div asp-validation-summary="All"></div>
    <form method="POST">
        <div>Введите логин: <input type="text" name="userName"/></div>
        <div>Введите пароль: <input type="password" name="passwordHash"/></div>
        <input type="submit" value="Войти"/>
    </form>
</div>
</body>
</html>